<div class="wrapper">

<div class="container">
    <h1 class="text-center mb-4">Proyectos</h1>
  
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="<%= asset_path 'project1.jpg'%>" class="card-img" alt="Proyecto 1">
          <div class="card-body">
            <h5 class="card-title">Cuppon</h5>
            <p class="card-text">Web realizada con HTML y CSS</p>
            <a href="#" class="btn btn-primary btn-ver-mas">Ver más</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="<%= asset_path 'project2.jpg'%>" class="card-img" alt="Proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Ricomida</h5>
            <p class="card-text">Web realizada con HTML y CSS</p>
            <a href="#" class="btn btn-primary btn-ver-mas">Ver más</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img src="<%= asset_path 'project3.jpg'%>" class="card-img" alt="Proyecto 3">
          <div class="card-body">
            <h5 class="card-title">Iguana</h5>
            <p class="card-text">Web realizada con HTML y CSS</p>
            <a href="#" class="btn btn-primary btn-ver-mas">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  
  
  